<!-- salon/templates/salon/employee_detail.html -->

{% extends 'base.html' %}

{% block content %}
  <h2>Employee Detail</h2>
  <p><strong>Name:</strong> {{ employee.name }}</p>
  <p><strong>Phone:</strong> {{ employee.phone }}</p>
  <p><strong>Gender:</strong> {{ employee.gender }}</p>
  <p><strong>Address:</strong> {{ employee.address }}</p>
  <p><a href="{% url 'salon:employee_update' employee.id %}">Update</a></p>
  <p><a href="{% url 'salon:employee_delete' employee.id %}">Delete</a></p>
  <a href="{% url 'salon:employee_list' %}">Back to employee list</a>
{% endblock %}
