<!-- salon/templates/salon/employee_detail.html -->

{% extends 'layouts/base.html' %}

{% block content %}
  <div class="container-fluid">
    <div class="card">
      <div class="card-title">
        <h2 class="text-center">Employee {{ employee.name }}</h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <p><strong>Name:</strong> {{ employee.name }}</p>
            <p><strong>Phone:</strong> {{ employee.phone }}</p>
            <p><strong>Gender:</strong> {{ employee.gender }}</p>
            <p><strong>Address:</strong> {{ employee.address }}</p>
          </div>
          <div class="col-sm-6">
            <a href="{% url 'salon:employee_update' employee.id %}" class="btn btn-warning btn-sm">Update</a>
            <a href="{% url 'salon:employee_delete' employee.id %}" class="btn btn-danger btn-sm">Delete</a>
            <a href="{% url 'salon:employee_list' %}" class="btn btn-primary btn-sm">Back to employee list</a>
          </div>
        </div>
        
      </div>
    </div>

  </div>
{% endblock content %}
