<!-- salon/templates/salon/employee_delete.html -->

{% extends 'layouts/base.html' %}

{% block content %}
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <h2>Delete Employee</h2>
        <p>Are you sure you want to delete '{{ employee.name }}'?</p>
        <form method="post" action="{% url 'salon:employee_delete' employee.id %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Yes, delete</button>
        </form>
        <a href="{% url 'salon:employee_list' %}" class="btn btn-neutral">Cancel</a>
      </div>
    </div>
  </div>
{% endblock content %}
