<!-- product_detail.html -->

{% extends "layouts/base.html" %}

{% block title %}
{{ product.product_name }} Details
{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h2>{{ product.product_name }} Details</h2>
            <p><strong>Product Name:</strong> {{ product.product_name }}</p>
            <p><strong>Quantity:</strong> {{ product.quantity }}</p>
            <p><strong>Branch:</strong> {{ product.branch.branch_name }}</p>
            <a href="{% url 'salon:product_update' product.pk %}" class="btn btn-warning btn-sm">Update</a>
            <a href="{% url 'salon:product_delete' product.pk %}" class="btn btn-danger btn-sm">Delete</a>
            <a href="{% url 'salon:product_list' %}" class="btn btn-primary btn-sm">Back to List</a>
        </div>
    </div>
</div>
{% endblock content %}
