{% extends "layouts/base.html" %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="card text-left">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" style="width:150px; height:150px;" alt="">
          <div class="card-body">
            <h4 class="card-title">{{user.name}}</h4>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur incidunt debitis vero sed? Atque magnam reprehenderit iste, dolores ipsum nesciunt, assumenda neque consequatur, eos nobis pariatur deleniti numquam odio eius.</p>
          </div>
        </div>
    </div>
</div>

{% endblock content %}