<!-- user_detail.html -->

{% extends "layouts/base.html" %}

{% block title %}
{{ user }}
{% endblock title %}

{% block content %}
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <!-- user_management/templates/user_detail.html -->

  <h2>User Detail</h2>
  <p>Username: {{ object.username }}</p>
  <p>Email: {{ object.email }}</p>
  <!-- Add more details as needed -->
  <a href="{% url 'salon:user_edit' object.id %}">Edit</a>
  <a href="{% url 'salon:user_delete' object.id %}">Delete</a>
<a href="{% url 'salon:user_list' %}">Back to List</a>
    </div>
  </div>
</div>

{% endblock content %}
