<!-- booking_form.html -->
{% extends "layouts/base.html" %}
{% load static %}

{% block title %}
Create Booking
{% endblock title %}

{% block content %}
<div class="container-fluid mt-2">
    <div class="card">
        <div class="card-title">
            <h2 class="text-center mt-2">Add Booking</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                  <h3> <span>Person Information</span></h3>
                   <hr>
                    <form action="" method="post" enctype="multipart/form-data" class="">
                        {% csrf_token %}
                        {% for fm in form.visible_fields|slice:":5" %}
                            <div class="form-group mb-2">
                                {{ fm.label_tag }} {{ fm }} 
                                <small class="text-danger">
                                    {{ fm.errors|striptags }}
                                </small>
                            </div>
                            
                        {% endfor %}
                        
                </div>
                <div class="col-md-6">
                    <h3><span>Additional Information</span></h3>
                    <hr>
                    {% for fm in form.visible_fields|slice:"5:" %}
                        <div class="form-group mb-2">
                            {{ fm.label_tag }} {{ fm }}
                            <small class="text-danger">
                                {{ fm.errors|striptags }}
                            </small>
                        </div>
                        {% endfor %}
                    <button type="submit" class="btn btn-primary">{{ action }}</button>
                    <a href="{% url 'salon:booking_list' %}" class="btn btn-secondary">Back to List</a>
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger my-3">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<!-- Include jQuery in your template -->
{% comment %} 
<script src="{% static "salon/js/form.js" %}"></script> {% endcomment %}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
// Function to calculate the sum
function calculateSum() {
    var sum = 0;

    // Iterate over each checked checkbox and add its value to the sum
    $('input[name="services"]:checked').each(function () {
      sum += parseFloat($(this).val());
    });

    // Update the service_amount field with the calculated sum
    $('#id_service_amount').val(sum.toFixed(2));
  }

  // Attach an event listener to the service checkboxes
  $('input[name="services"]').change(function () {
    calculateSum();
  });

  // Call the function initially to set the initial value
  calculateSum();
</script>


{% endblock javascripts %}