<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <img src="/static/assets/img/brand/creative_cuts_logo.png" alt="logo">
    <h1>Invoice</h1>
    <p>Booking ID: {{ booking.booking_id }}</p>
    <p>Customer: {{ booking.name }}</p>
    <p>Services: {% for services in booking.services.all %}{{ services.service_name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    <p>Service Amount: {{ booking.service_amount }}</p>
    <p>Payment Status: {% if booking.payment_status %}Paid{% else %}Pending{% endif %}</p>

    <!-- Add more details as needed -->

    <p>Thank you for choosing our services!</p>
    </body>
</html>